body{
    background-color: #22B573;
    font-family: 'Montserrat-Black'
}

a img{
    float: right;
    height: 151px;
    padding: 45px 55px 0 0;
    
}
.navbar{
    float: right;
    vertical-align: top;
    padding: 45px 55px 0 0;
}
.navbar li{
    display: inline-block;
    font-size: 48px;
    margin-right: 50px;

}
.clear{
    clear: right;
}
section div{
    background-color: #FCEE21;
}
.article1 img{
    float: right;
    height: 118px;
}
.article1 p{
    float: left;
}
.article2 img{
    float: left;
    height: 118px;
}
.article2 p{
    float: right;
}