body{
    background-color: #22B573;
    font-family: 'Montserrat-Black'
}
header{
    float: right;
}
a img{
    height: 151px;
    padding: 45px 55px 0 0;
    margin: 0 0 62px 75px;
}
.navbar{
    display: inline-block;
    vertical-align: top;
    padding: 45px 55px 0 0;
}
.navbar li{
    display: inline-block;
    font-size: 48px;
    margin-right: 50px;

}