body{
    background-color: #22B573;
    font-family: 'Montserrat-Black'
}

a img{
    float: right;
    height: 151px;
    padding: 45px 55px 0 0;
    
}
.navbar{
    float: right;
    vertical-align: top;
    padding: 45px 55px 0 0;
}
.navbar li{
    display: inline-block;
    font-size: 48px;
    margin-right: 50px;

}
.clear{
    clear: right;
}
section div{
    background-color: #FCEE21;
    width: 582px;
    float: left;
}
section div{
    margin: 63px 55px 80px 137px;
}
section:after{
    content: "";
    display: block;
    clear: left;
}
.article1{
    float: left;
    
}
.article2{
    float: right;
}
.img-typo{
    float: right;
    width: 151px;
    padding: 23px 10px 0 0;
}
.article1 div{
    float: left;
    padding: 23px 0 26px 15px;
}
p{
    float: left;
}

.article2 img{
    float: left;
    height: 118px;
}
.article2 p{
    float: right;
}